<h1>Preprocessing<h1>

In [1]:
import pandas as pd

<h2>download and read the CSV file and make ID the index column<h2>

In [4]:
df = pd.read_csv("../../data/auto.csv", sep = ",", index_col="ID")

<h2>count the number of observations using the method count()<h2>

In [14]:
df.count()

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

<h2>drop the duplicates, taking into account only the following columns: CarNumber, Make_n_model, Fines<h2>

In [17]:
df.drop_duplicates(["CarNumber", "Make_n_model", "Fines"], inplace=True, keep="last")
df.count()

CarNumber       725
Make_n_model    725
Refund          711
Fines           665
History          63
dtype: int64

<h2>work with missing values<h2>

In [19]:
df.isnull().sum()

CarNumber         0
Make_n_model      0
Refund           14
Fines            60
History         662
dtype: int64

In [21]:
df.dropna(axis=1, thresh=500, inplace=True)

In [22]:
df.isnull().sum()

CarNumber        0
Make_n_model     0
Refund          14
Fines           60
dtype: int64

In [26]:
df["Refund"] = df["Refund"].ffill()

In [27]:
df.isnull().sum()

CarNumber        0
Make_n_model     0
Refund           0
Fines           60
dtype: int64

In [29]:
mean_val = df["Fines"].mean()
df["Fines"] = df["Fines"].fillna(mean_val)

In [31]:
df.isnull().sum()

CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

<h2>split and parse the make and model<h2>

In [43]:
def split(text):
    s = text.split(" ")
    return pd.Series(s)
df[["Make", "Model"]] = df["Make_n_model"].apply(split)

In [46]:
df.drop(labels="Make_n_model", axis = 1, inplace=True)

In [49]:
df.to_json('../../data/auto.json', orient='records')