<h1>Basic operations</h1>

In [1]:
import pandas as pd

<h2>create a dataframe views with two columns: datetime and user by reading feed- views.log<h2>

In [2]:
views = pd.read_csv("../../data/feed-views.log", sep = "\t", header=0, names=["datetime", "user"])
views.datetime = views.datetime.astype('datetime64[ns]')
views["year"] = views.datetime.dt.year
views["month"] = views.datetime.dt.month
views["day"] = views.datetime.dt.day
views["hour"] = views.datetime.dt.hour
views["minute"] = views.datetime.dt.minute
views["second"] = views.datetime.dt.second

<h2>create the new column daytime<h2>

In [16]:
views.set_index("user")
bins = [0, 4, 7, 11, 17, 20, 24]
labels = ['night', 'early morning', 'morning', 'afternoon', 'early evening', 'evening']
views["daytime"] = pd.cut(x = views.hour, bins=bins, labels=labels, include_lowest=True, right = False)

<h2>calculate the number of elements in your dataframe<h2>

In [9]:
views.count()

datetime    1075
user        1075
year        1075
month       1075
day         1075
hour        1075
minute      1075
second      1075
daytime     1075
dtype: int64

In [11]:
views.daytime.value_counts()

daytime
evening          445
afternoon        278
early evening    144
night            134
morning           74
early morning      0
Name: count, dtype: int64

<h2>sort values in your dataframe by hour, minute, and second in ascending order (simultaneously and not one by one)<h2>

In [17]:
views.sort_values(by = ["hour", "minute", "second"], inplace=True)

<h2>calculate the minimum and maximum for the hours and the mode for the daytime categories<h2>

In [41]:
print(h := int(views[views.daytime == "night"].hour.max()))
views[views.hour == h]

3

,datetime,user,year,month,day,hour,minute,second,daytime
45,2020-04-19 03:23:35.471598,konstantin,2020,4,19,3,23,35,night
46,2020-04-19 03:23:55.473926,konstantin,2020,4,19,3,23,55,night
47,2020-04-19 03:33:07.757714,konstantin,2020,4,19,3,33,7,night

In [42]:
print(h := int(views[views.daytime == "morning"].hour.min()))
views[views.hour == h]

8

,datetime,user,year,month,day,hour,minute,second,daytime
962,2020-05-15 08:16:03.918402,alexander,2020,5,15,8,16,3,morning
963,2020-05-15 08:35:01.471463,alexander,2020,5,15,8,35,1,morning

In [45]:
views.hour.mode()

0    22
Name: hour, dtype: int32

In [46]:
views.daytime.mode()

0    evening
Name: daytime, dtype: category
Categories (6, object): ['night' < 'early morning' < 'morning' < 'afternoon' < 'early evening' < 'evening']

<h2>show the 3 earliest hours in the morning and the corresponding usernames and the 3 latest hours and the usernames using nsmallest() and nlargest()<h2>

In [53]:
views[views.daytime == "morning"].nsmallest(3, "hour")[["hour", "user"]]

     hour       user
962     8  alexander
963     8  alexander
964     9  alexander

In [55]:
views[views.daytime == "morning"].nlargest(3, "hour")[["hour", "user"]]

     hour        user
975    10  konstantin
755    10       maxim
756    10       maxim

<h2>use the method describe() to get the basic statistics for the columns<h2>

In [66]:
iqr = views.describe()["hour"]["75%"] - views.describe()["hour"]["25%"]
iqr

np.float64(9.0)