<h1>Selects and aggregations<h1>

In [1]:
import pandas as pd

<h2>load the JSON file that you created in the previous exercise into a dataframe<h2>

In [6]:
df = pd.read_json("../../data/auto.json")
df.set_index("CarNumber", inplace=True)

<h2>make the following selects<h2>

In [8]:
df[df["Fines"] > 2100]

              Refund         Fines        Make    Model
CarNumber
Y163O8161RUS       2   3200.000000        Ford    Focus
E432XX77RUS        1   6500.000000      Toyota    Camry
E34877152RUS       2   6100.000000        Ford    Focus
92918M178RUS       1   5700.000000        Ford    Focus
X4128H125RUS       1   8594.586466        Ford    Focus
...              ...           ...         ...      ...
O68897197RUS       2  12300.000000        Ford    Focus
O718MM163RUS       2   8594.586466        Ford    Focus
7065C8197RUS       2  11400.000000  Volkswagen   Passat
M0309X197RUS       1  22300.000000        Ford    Focus
H419XE197RUS       2   8594.586466      Toyota  Corolla

[455 rows x 4 columns]

In [9]:
df[(df["Fines"] > 2100) & (df["Refund"] == 2)]

              Refund         Fines        Make    Model
CarNumber
Y163O8161RUS       2   3200.000000        Ford    Focus
E34877152RUS       2   6100.000000        Ford    Focus
H234YH197RUS       2   6000.000000        Ford    Focus
707987163RUS       2   2200.000000        Ford    Focus
K330T8197RUS       2   8200.000000       Skoda  Octavia
...              ...           ...         ...      ...
O136HO197RUS       2   7800.000000      Toyota  Corolla
O68897197RUS       2  12300.000000        Ford    Focus
O718MM163RUS       2   8594.586466        Ford    Focus
7065C8197RUS       2  11400.000000  Volkswagen   Passat
H419XE197RUS       2   8594.586466      Toyota  Corolla

[309 rows x 4 columns]

In [11]:
df[df["Model"].isin(["Focus", "Corolla"])]

              Refund         Fines    Make    Model
CarNumber
Y163O8161RUS       2   3200.000000    Ford    Focus
7184TT36RUS        1   2100.000000    Ford    Focus
X582HE161RUS       2   2000.000000    Ford    Focus
E34877152RUS       2   6100.000000    Ford    Focus
92918M178RUS       1   5700.000000    Ford    Focus
...              ...           ...     ...      ...
O718MM163RUS       2   8594.586466    Ford    Focus
Y163O8161RUS       2   1600.000000    Ford    Focus
M0309X197RUS       1  22300.000000    Ford    Focus
O673E8197RUS       2    600.000000    Ford    Focus
H419XE197RUS       2   8594.586466  Toyota  Corolla

[593 rows x 4 columns]

In [13]:
df[df.index.isin(["Y7689C197RUS", "92928M178RUS", "7788KT197RUS", "H115YO163RUS", "X758HY197RUS"])]

              Refund          Fines  Make  Model
CarNumber
92928M178RUS       1    8594.586466  Ford  Focus
H115YO163RUS       1    2200.000000  Ford  Focus
92928M178RUS       2    1200.000000  Ford  Focus
7788KT197RUS       2   12000.000000  Ford  Focus
X758HY197RUS       2   24200.000000  Ford  Focus
X758HY197RUS       2   72600.000000  Ford  Focus
Y7689C197RUS       1   27000.000000  Ford  Focus
92928M178RUS       1     600.000000  Ford  Focus
H115YO163RUS       1    8594.586466  Ford  Focus
H115YO163RUS       2    1100.000000  Ford  Focus
7788KT197RUS       2    8594.586466  Ford  Focus
7788KT197RUS       1   20000.000000  Ford  Focus
X758HY197RUS       2  145200.000000  Ford  Focus
Y7689C197RUS       2    9000.000000  Ford  Focus
Y7689C197RUS       2   45000.000000  Ford  Focus
7788KT197RUS       2    4000.000000  Ford  Focus
Y7689C197RUS       1   36000.000000  Ford  Focus
92928M178RUS       2    3000.000000  Ford  Focus

<h2>make the aggregations with the make and the model<h2>

In [25]:
df.groupby("Make")["Fines"].median()

Make
Audi          4200.0
BMW           6500.0
Ford          3500.0
Skoda         3250.0
Toyota        7700.0
Volkswagen    4300.0
Volvo         8500.0
Name: Fines, dtype: float64

In [17]:
df.groupby(["Make", "Model"])["Fines"].median()

Make        Model
Ford        Focus      3500.0
            Mondeo     7650.0
Skoda       Octavia    3250.0
Toyota      Camry      7700.0
            Corolla    7700.0
Volkswagen  Golf       4800.0
            Jetta      2800.0
            Passat     3500.0
            Touareg    5800.0
Name: Fines, dtype: float64

In [18]:
df.groupby(["Make", "Model"])["Fines"].count()

Make        Model
Ford        Focus      575
            Mondeo       6
Skoda       Octavia     48
Toyota      Camry       16
            Corolla     18
Volkswagen  Golf        20
            Jetta        6
            Passat      22
            Touareg      5
Name: Fines, dtype: int64

In [19]:
df.groupby(["Make", "Model"])["Fines"].min()

Make        Model
Ford        Focus       100.0
            Mondeo     1100.0
Skoda       Octavia     300.0
Toyota      Camry       500.0
            Corolla     900.0
Volkswagen  Golf        200.0
            Jetta       500.0
            Passat      100.0
            Touareg     500.0
Name: Fines, dtype: float64

In [20]:
df.groupby(["Make", "Model"])["Fines"].max()

Make        Model
Ford        Focus      180000.000000
            Mondeo      46200.000000
Skoda       Octavia    145000.000000
Toyota      Camry       22400.000000
            Corolla     34300.000000
Volkswagen  Golf       168000.000000
            Jetta       46000.000000
            Passat      29700.000000
            Touareg      8594.586466
Name: Fines, dtype: float64

In [21]:
df.groupby(["Make", "Model"])["Fines"].std()

Make        Model
Ford        Focus      15041.269437
            Mondeo     18987.329108
Skoda       Octavia    24339.742174
Toyota      Camry       6410.250654
            Corolla     9629.325617
Volkswagen  Golf       36950.839950
            Jetta      17743.026799
            Passat      6969.739135
            Touareg     3461.778173
Name: Fines, dtype: float64

<h2>make the aggregations with the car number<h2>

In [51]:
number_count = pd.DataFrame(df.groupby(df.index).count()["Fines"])
number_count.sort_values("Fines", ascending=False)

              Fines
CarNumber
Y7689C197RUS      4
92928M178RUS      4
7788KT197RUS      4
H115YO163RUS      3
X758HY197RUS      3
...             ...
E42577152RUS      1
E42377152RUS      1
E41977152RUS      1
E41577152RUS      1
H917TC36RUS       1

[531 rows x 1 columns]

In [52]:
df[df.index == "Y7689C197RUS"]

              Refund    Fines  Make  Model
CarNumber
Y7689C197RUS       1  27000.0  Ford  Focus
Y7689C197RUS       2   9000.0  Ford  Focus
Y7689C197RUS       2  45000.0  Ford  Focus
Y7689C197RUS       1  36000.0  Ford  Focus

In [56]:
number_sum = pd.DataFrame(df.groupby(df.index).sum()["Fines"])
number_sum.sort_values("Fines", ascending=False)

                 Fines
CarNumber
X758HY197RUS  242000.0
9020YC197RUS  217500.0
M0279X197RUS  216000.0
Y352O8197RUS  207200.0
Y778EE197RUS  192000.0
...                ...
83218C154RUS     100.0
Y195O8161RUS     100.0
K376HE161RUS     100.0
705787163RUS     100.0
K326T8197RUS     100.0

[531 rows x 1 columns]

In [57]:
df[df.index == "X758HY197RUS"]

              Refund     Fines  Make  Model
CarNumber
X758HY197RUS       2   24200.0  Ford  Focus
X758HY197RUS       2   72600.0  Ford  Focus
X758HY197RUS       2  145200.0  Ford  Focus

In [94]:
pd.DataFrame(df.groupby(df.index)["Model"].nunique()).sort_values("Model", ascending=False)

              Model
CarNumber
704687163RUS      1
O719MM163RUS      1
O6939X163RUS      1
O68897197RUS      1
O673E8197RUS      1
...             ...
Y687HM197RUS      0
Y693HM197RUS      0
M589CH197RUS      0
H837YK197RUS      0
X023HY197RUS      0

[531 rows x 1 columns]